# Ignore the virtual environment
env/
.venv/

# Ignore cache and temporary files
__pycache__/
*.pyc
*.pyo

# Ignore all files in data/processed except .txt files
data/processed/*
!data/processed/*.txt

# Ignore API keys or sensitive configs
*.env
secrets.json

node_modules/

